body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 670px;
  min-height: 610px;
}

.main-container {
  border-radius: 10px;
  position: relative;
  width: 750px;
  height: 590px;
  overflow: hidden;
  z-index: 9;
}
.main-container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  width: 750px;
  height: 590px;
  animation: animation 6s linear infinite;
  transform-origin: bottom right;
}

.main-container::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  width: 750px;
  height: 590px;
  animation: animation 6s linear infinite;
  transform-origin: bottom right;
  animation-delay: -3s;
}

@keyframes animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-container {
  position: absolute;
  inset: 2px;
  z-index: 10;
  background: #28292d;
  color: #45f3ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.top-container {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
}

.items-container {
  width: 70%;
  position: relative;
  height: 400px;
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  position: absolute;
  display: flex;
  width: 100%;
  left: 0;
}

.first-row-container {
  justify-content: space-between;
  top: 20%;
}

.first-row-container input[type="text"],
.first-row-container input[type="number"] {
  width: 200px;
  background: transparent;
  height: 40px;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  border: none;
  border-bottom: #45f3ff solid;
  outline: 0;
}

.input-container {
  position: relative;
}

.input-container span {
  font-size: 1em;
  color: #8f8f8f;
  position: absolute;
  left: 3px;
  bottom: 10%;
  pointer-events: none;
  transition: 0.5s;
}

.input-container input:valid ~ span,
.input-container input:focus ~ span{
  color: #45f3ff;
  transform: translateY(-40px);
  font-size: 0.75em;

}

.second-row-container {
  top: 40%;
}

.third-row-container {
  top: 60%;
}

.fourth-row-container {
  top: 80%;
}

#fileBox {
  color: transparent;
}
