*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    background: #23242A;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
